
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px;
}
.dev2 {
  text-decoration: none;
}

/* .badge {
  position: absolute;
  top: 10;
  left: 20px;
} */
 .badge-0 {
  position: absolute;
  left: 130px;
  top: 120px;
 }