
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(to right, #ffffff, #f0f0f0);
}
.screen {
  width: 100%;
}
.dev2 {
  text-decoration: none;
}
.badge-0 {
  left: 10px;
  top: 10px;
}
.cart {
 
  width: 50%;
}
.social-link-linkedIn-parent {
  transition: all 0.2s ease-in-out;
}
.social-link-linkedIn-parent:hover {
  color: #0a66c2 !important;
}
/* stylings for github */

.social-link-git-parent {
  transition: all 0.2s ease-in-out;
}
.social-link-git-parent:hover {
  color: #ffffff !important; 
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}
.Meals {
  height: 90vh;
}

@media  screen and (width: 1024px) {
  .layer-1{
    margin : 10px 20px 0 155px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .screen {
    width: 50%;
    margin-bottom: 10px;
  }
  .img-magnifier {
    width: 100%;
  }
  .medium{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .medium {
    width: 100%;
  }
}